.vscode/**
.vscode-test/**
.claude/**
out/**
node_modules/**
src/**
.gitignore
.oxlintrc.json
oxfmtrc.json
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
lefthook.yml
knip.json
esbuild.js
CHANGELOG.md
images/**
CLAUDE.local.md
